
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.navbar a {
  margin: 0 15px;
  text-decoration: none;
  font-size: 18px;
  color: #333;
}

.navbar a:hover {
  color: #4caf50;
}

